{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Browse Property Listings {% endblock %}

{% block content %}





<div class="container">

            <h4 class="text-centre alert alert-info">Owner Add Your Room</h4>
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
               {{form.as_p}}
            <td><input type="submit" class="btn btn-success" value="POST YOUR ROOM"></td>


            </form>


</div>



{% endblock content %}




